@inherits ToSic.Sxc.Dnn.RazorComponentCode
@using ToSic.Razor.Blade;

@helper SetNotFoundHttpHeaders() {
  Response.StatusCode = 404;
	Response.TrySkipIisCustomErrors = true;
}

@* Shows a back to list button *@
@helper BackToListButton() {
  <a class="btn btn-outline-primary app-backtolist" href='@Tags.SafeUrl(Link.To())'>@App.Resources.LabelBackToList</a>
}

@functions{
  public void AddMetaTags(dynamic article) {
    HtmlPage.AddMeta("description", Tags.Strip(article.Teaser));
    HtmlPage.Title = article.Date.ToString("d") + " - " + article.Title +  " | " + HtmlPage.Title;
  }
}
