// Column View Bootstrap
.app-news {

    // General Styles
    &.sc-element>.sc-menu>li>a>div {
        background-color: #666666;
    }
    &.app-edit {
        padding-top: 40px;
	}

	// Column View Bootstrap
    &.app-news-list {
        .col,
        > .row > .col-12  {
            margin-bottom: $grid-gutter-width;
            @include media-breakpoint-up(lg) {
                margin-bottom: $grid-gutter-width*1.5;
            }
        }

        // Categorie Info
        .app-catinfo {
            margin-bottom: $grid-gutter-width/1.5;
        }
        .app-details-link {
            position: relative;
            display: flex;
            flex-direction: column;
            height:100%;

            .link-overlay {
                position: absolute;
                display: block;
                top: 0px;
                left: 0px;
                height: 100%;
                width: 100%;
                z-index: 20;
            }

            a:not(.link-overlay) {
                position: relative;
                z-index: 30;
            }

			// App-Image with overlay and fallback
            .app-img {
                position: relative;
                text-align: center;

                &.app-noimg {
                    background: #e9ecef;
                    height: 100%;
                    position: relative;
                }

                span {
                    position: absolute;
                    background-color: rgba($dark, .0);
                    top: 0;
                    bottom: 0;
                    width: 100%;
                    z-index: 10;
                    background-repeat: no-repeat;
                    background-position: center center;
                    transition: background-color .3s ease-in-out;
                }
			}

			// App-Text with readmore
            .app-text {
                flex: 1 1 auto;
                 h3, h2 {
                    &.app-list {
                        margin-top: $grid-gutter-width/2;
                        @include media-breakpoint-up(xs) {
                            margin-top: 0;
                        }
                    }
                }
                span {
                    font-size: $font-size-base * 0.8;
                    font-weight: bold;
                }
                .app-date {
                    &.app-date-border {
                        border-right: 1px solid $body-color;
                        padding-right: 8px;
                        margin-right: 4px;
                    }
                }
                .app-categories {
                    a {
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        margin-right: 8px;
                    }
                }
                p {
                    margin-top: $grid-gutter-width/2;
                }
            }
            .app-readmore {
                color: $primary;
			}

			// Hover Styling
            &:hover {
                .app-img {
                    span {
                        background-color: rgba($dark, .4);
                    }
                }
                .app-text {
                    h3, h2 {
                        color: $primary;
                    }
                }
                .app-readmore {
                    color: $body-color;
                }
            }
        }
	}
	// END Column View Bootstrap
}