@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
@using ToSic.Sxc.Services;
@{
  var imgSvc = GetService<IImageService>();
  var article = DynamicModel.Article;
  var imageUrl = Text.Has(article.Image) ? article.Image : App.Resources.PlaceholderMissingImage;
}

<div class="app-news5-img">
  <span class="overlay"></span>
  @imgSvc.Picture(imageUrl, width:"800", settings: Settings.Images.Content, imgAlt:article.Title, imgClass:"img-fluid img-responsive")
</div>