@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
@using ToSic.Sxc.Services;
@{
  var imgSvc = GetService<IImageService>(); // Image Service used to generate optimal images
  var article = DynamicModel.Article;
  var imageField = article.Field("Image");
  var image = Text.Has(article.Image) ? imageField : Resources.PlaceholderMissingImage;
  var altText = Text.Has(article.Image) ? Text.First(imageField.Metadata.Description, article.Title) : article.Title;
}

<div class="app-news5-img">
  <span class="overlay"></span>
  @imgSvc.Picture(image, width:"800", settings: "Content", imgAlt: altText, imgClass:"img-fluid img-responsive")
</div>