@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@{
  var article = PageData["Article"];
  var imageUrl = Text.Has(article.Image) ? article.Image : App.Resources.PlaceholderMissingImage;
}

<div class="app-img">
  <span class="overlay"></span>
  <img class="img-fluid"
    src='@Tags.SafeUrl(imageUrl + "?w=800&h=480&mode=crop&scale=both&quality=80&anchor=" + article.CropAnchor)'
    alt="@article.Title" />
</div>