@using Connect.Koi;
@using DotNetNuke.Framework.JavaScriptLibraries;

@* show warning for admin if koi.json is missing *@
@if(Koi.IsUnknown && Dnn.User.IsInRole(Dnn.Portal.AdministratorRoleName)) {
  <div class='dnnFormMessage dnnFormWarning'>
    This component supports multiple CSS frameworks (Bootstrap3, Bootstrap4). It uses <a href='http://connect-koi.net/' target='_blank'>Koi</a> to detect the CSS framework of the theme/skin. Your theme doesn't broadcast it's CSS-Framework, so the output may look wrong. <br>
    To fix this, <a href='http://connect-koi.net/dnn-themes'>add a koi.json file to your theme/skin folder</a>.<br>
    <em>note: only admins see this message, and it will disappear when you add a correct koi.json</em>
  </div>
}

@* Include styles of the App *@
<link rel="stylesheet" href="@App.Path/dist/bs4.min.css" data-enableoptimizations="true" />

@* Include bootstrap 4 if the framework isn't known - then this file is still called, and we add Bootstrap to the page *@
@if(!Koi.Is("bs4")) {
  <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous" data-enableoptimizations="true" />
  <script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous" data-enableoptimizations="true" ></script>
}

@* Include libaries / scripts *@
@if(PageData["scripts"] == true) {
  // tell DNN to load jquery as it's needed by fancybox
  JavaScript.RequestRegistration(CommonJs.jQuery);

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css" data-enableoptimizations="bottom" />
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js" data-enableoptimizations="bottom"></script>
  <script type="text/javascript" src="@App.Path/dist/scripts.min.js" data-enableoptimizations="bottom"></script>
}