@inherits Custom.Hybrid.Razor12
@*
    This sub template just places all the very-often used
    style and link tags into the code.
    We put this in a sub-template because we use it so often, and want to make sure
    nobody accidentally uses the wrong url or forgets data-enableoptimizations
*@
@{
  // get CSS information about the current Theme
  var pageCss = GetService<Connect.Koi.ICss>();
}
@if(pageCss.IsUnknown && CmsContext.User.IsSiteAdmin) {
	<div class='dnnFormMessage dnnFormWarning'>
    @Html.Raw(Connect.Koi.Messages.CssInformationMissing) <br>
    @Html.Raw(Connect.Koi.Messages.OnlyAdminsSeeThis)
	</div>
}