@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;
@{
  var article = MyModel.Item("Article");
}

<div class="app-news5-img">
  <span class="overlay"></span>

  @(article.IsNotEmpty("Image")
      ? article.Picture("Image", width:"800", settings: "Content", imgAltFallback: article.String("Title"))
      : App.Resources.Picture("PlaceholderMissingImage"))
</div>