/* note: this file name must start with an underscore "_" so it wont be generated in the output */
$grid-gutter-width: 30px;
$brand-primary: #0088F4;
$text-color: #333;
$gray-light: #eee;
$font-size-base: 16px;
$screen-sm-min: 768px;  //  > 768px small tablet
$screen-md-min: 992px;  //  > 992px (medium laptop)
$screen-lg-min: 1200px; //  > 1200px (large desktop)
$screen-xs-max: 768px;  //  < 768px xsmall phone)
$screen-sm-max: 992px;  //  < 992px small tablet)
$screen-md-max: 1200px; //  < 1200px medium laptop)