// Variables (Import the skins variables.scss file when you use the 2sic standard skin)
$brand-primary: #1BC48E;
$grid-guther-width: 20px;

// Only for debug
.container-fluid { background: #EFEFEF !important; }
* { font-family: 'Roboto', sans-serif !important; }
// ----------------------------------------------------

.app-news {
	// General Styles
	.app-news-item {
		position: relative;
		cursor: pointer;

		&:hover {
			a { color: #000000 !important; }
		}

		h2 {
			font-size: 20px;
			font-weight: 700;
			margin: 0;
		}

		p {
			font-size: 16px;
			margin-bottom: 40px;
		}

		.app-news-date,
		.app-news-categories {
			font-size: 10px;
			letter-spacing: 1px;
			display: inline-block;
			margin: 15px 0 12px 0;
			font-weight: 700;
		}

		.app-news-date {
			color: #999999;
		}

		.app-news-categories > span > a {
			color: $brand-primary;
			text-transform: uppercase;
			cursor: pointer;
			
			transition: .3s ease color;

			&:hover {
				color: #000;
			}
		}
	}

	// Column View
	&.app-news-column-view {
		.app-news-container {
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: row;
			flex-direction: row;
			flex-flow: row wrap;
			margin: 0 -$grid-guther-width;
			@media (max-width: 1240px) {
				margin: 0;
			}

			.app-news-item {
				width: 33%;
				padding: 20px;
				
				> div {
					background: #ffffff;
					width: 100%;
					height: 100%;
					padding: $grid-guther-width;
				}
 
				.btn.btn-primary {
					position: absolute;
					bottom: 20px;
					color: $brand-primary;

					&:hover {
						color: #000;
					}
				}

				img {
					max-width: calc(100% + #{2 * $grid-guther-width});
					max-height: 100%;
					margin-top: -$grid-guther-width;
					margin-right: 0;
					margin-bottom: $grid-guther-width;
					margin-left: -$grid-guther-width;
					height: 210px;
				}

				.app-news-imgplaceholder {
					width: calc(100% + #{2 * $grid-guther-width});
					max-height: 100%;
					margin-top: -$grid-guther-width;
					margin-right: 0;
					margin-bottom: $grid-guther-width;
					margin-left: -$grid-guther-width;
					height: 210px;
					background: #E1E1E1;
					text-align: center;

					> img {
						padding-top: 70px;
						max-width: 150px;
						height: auto;
					}
				}

				@media (max-width: 960px) {
					width: 50%;
				}

				@media (max-width: 530px) {
					width: 100%;
				}
			}
		}
	}

	// Masonry Grid
	&.app-news-masonry-grid {
		.app-news-container {
			column-count: 3;
			column-gap: $grid-guther-width;
			margin: 0 -#{2 * $grid-guther-width};
			@media (max-width: 1240px) {
				margin: 0 -$grid-guther-width;
			}

			.app-news-item {
				background-color: #eee;
				display: inline-block;
				width: 100%;
				padding: #{$grid-guther-width / 2} 0;
				
				> div {
					background: #ffffff;
					width: 100%;
					height: 100%;
					padding: $grid-guther-width;
				}

				.btn.btn-primary {
					position: absolute;
					bottom: 40px;
					color: $brand-primary;
				}

				img {
					max-width: calc(100% + #{2 * $grid-guther-width});
					max-height: 100%;
					margin-top: -$grid-guther-width;
					margin-right: 0;
					margin-bottom: $grid-guther-width;
					margin-left: -$grid-guther-width;
				}

				@media (max-width: 960px) {
					width: 50%;
				}

				@media (max-width: 530px) {
					width: 100%;
				}
			}
		}
	}

	// Default List
	&.app-news-default-list {
		.app-news-container {
			display: block;
			margin: 0 -#{2 * $grid-guther-width};
			@media (max-width: 1240px) {
				margin: 0 -$grid-guther-width;
			}

			.app-news-item {
				display: block;
				width: 100%;
				margin-top: $grid-guther-width;
				
				> div {
					background: #ffffff;
					width: 100%;
					height: 100%;
					padding: $grid-guther-width;
				}

				.btn.btn-primary {
					position: absolute;
					bottom: $grid-guther-width;
					color: $brand-primary;
				}

				.app-news-contentcontainer,
				.app-news-imagecontainer {
					display: inline-block
				}

				.app-news-contentcontainer {
					max-width: 80%;
					max-width: 79%;
					padding-left: $grid-guther-width;
				 }

				.app-news-imagecontainer {
					max-width: 20%;
					vertical-align: top;
				}

				img {
					height: auto;
					max-width: 100%;
				}
			}
		}
	}

	a.btn.btn-primary,
	a.btn.btn-primary:link {
		background: transparent;
		color: $brand-primary;
		padding: 0;
		margin: 0;
		border: none;

		transition: .3s ease color;

		&:hover {
			color: #000;
		}
	}

	a.btn.btn-primary:active {
		box-shadow: none;
	}

	a.app-news-backtolist {
		margin-top: $grid-guther-width !important;
	}

	.app-news-catinfo {
		margin-bottom: 20px;
		
		> span {
			font-size: 10px;

			> a {
				font-size: 10px;
				color: $brand-primary;
				text-transform: uppercase;
				letter-spacing: 1px;
				transition: color .2s ease;

				&:hover {
					color: #000;
				}
			}

			&:last-of-type {
				color: transparent;
			}
		}
	}

	.app-news-paging {
		width: 100%;
		text-align: center;
		margin-top: $grid-guther-width;

		> a {
			display: inline-block;
			height: 30px;
			width: 30px;
			text-align: center;
			border-radius: 50%;
			font-size: 16px;
			padding-top: 4px;
			color: #666;
			transition: background .2s ease, color .2s ease; 

			&:hover {
				background: $brand-primary;
				color: #fff;
			}

			&.app-news-paging-active {
				background: $brand-primary;
				color: #fff;
			}

			&.app-news-prev-pager {
				background: #fff;
			}

			&.app-news-next-pager {
				background: #fff;
			}
		}
	}
}