// Variables (Import the skins variables.scss file when you use the 2sic standard skin)
$brand-primary: #1BC48E;

// Only for debug
.container-fluid { background: #EFEFEF !important; }
* { font-family: 'Roboto', sans-serif !important; }


.app-news {
	// General Styles
	.app-news-item {
		position: relative;

		h2 {
			font-size: 20px;
			font-weight: 700;
			margin: 0;
		}

		p {
			font-size: 16px;
			margin-bottom: 40px;
		}

		.app-news-date,
		.app-news-categories {
			font-size: 10px;
			letter-spacing: 1px;
			display: inline-block;
			margin: 15px 0 12px 0;
			font-weight: 700;
		}

		.app-news-date {
			color: #999999;
		}

		.app-news-categories > span {
			color: $brand-primary;
			text-transform: uppercase;
			cursor: pointer;
			
			transition: .3s ease color;

			&:hover {
				color: #000;
			}
		}
	}

	// Column View
	&.app-news-column-view {
		.app-news-container {
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: row;
			flex-direction: row;
			flex-flow: row wrap;
			margin: 0 -20px;

			.app-news-item {
				//position: relative;
				flex-basis: 33%;
				padding: 20px;
				
				> div {
					background: #ffffff;
					width: 100%;
					height: 100%;
					padding: 20px 20px 20px 20px;
				}
 
				.btn.btn-primary {
					position: absolute;
					bottom: 40px;
				}

				img {
					max-width: calc(100% + 40px);
					max-height: 100%;
					margin: -20px 0 20px -20px;
					height: 210px;
				}

				.app-news-imgplaceholder {
					width: calc(100% + 40px);
					max-height: 100%;
					margin: -20px 0 20px -20px;
					height: 210px;
					background: #cccccc;
					color: #aaaaaa;
					text-align: center;

					> span {
						padding-top: 100px;
						display: block;
					}
				}

				@media (max-width: 960px) {
					flex-basis: 50%;
				}

				@media (max-width: 530px) {
					flex-basis: 100%;
				}
			}
		}
	}

	// Masonry Grid
	&.app-news-masonry-grid {
		.app-news-container {
			column-count: 3;
			column-gap: 20px;
			margin: 0 -40px;

			.app-news-item {
				background-color: #eee;
				display: inline-block;
				width: 100%;
				padding: 10px 0;
				
				> div {
					background: #ffffff;
					width: 100%;
					height: 100%;
					padding: 20px 20px 20px 20px;
				}

				.btn.btn-primary {
					position: absolute;
					bottom: 40px;
				}

				img {
					max-width: calc(100% + 40px);
					max-height: 100%;
					margin: -20px 0 20px -20px;
				}

				@media (max-width: 960px) {
					flex-basis: 50%;
				}

				@media (max-width: 530px) {
					flex-basis: 100%;
				}
			}
		}
	}

	// Default List
	&.app-news-default-list {
		.app-news-container {
			display: block;
			margin: 0 -40px;

			.app-news-item {
				display: block;
				width: 100%;
				margin-top: 20px;
				
				> div {
					background: #ffffff;
					width: 100%;
					height: 100%;
					padding: 20px 20px 20px 20px;
				}

				.btn.btn-primary {
					position: absolute;
					bottom: 20px;
				}

				@media (max-width: 960px) {
					flex-basis: 50%;
				}

				@media (max-width: 530px) {
					flex-basis: 100%;
				}
			}
		}
	}

	.btn.btn-primary {
		background: transparent;
		color: $brand-primary;
		padding: 0;
		margin: 0;
		border: none;

		transition: .3s ease color;

		&:hover {
			color: #000;
		}
	}
}